<!--Herencia de Html-->
{% extends 'home/index.html' %}
<!--Herencia de Html-->
{% block title_pagina %}
<title>Ver Personas</title>
{% endblock title_pagina %}
{% block h1_texto_header %} <h1>Ver Personas</h1>{% endblock h1_texto_header %}
{% block index_contenido %}
    <p>Listado de Personas:</p>
    {% for persona in personas  %}
    <li>{{persona.nombre}} {{persona.apellido}} Edad:{{persona.edad}}</li>
    {% endfor %}

    <a class="navbar-brand" href="{% url 'index' %}">Index</a>

{% endblock index_contenido %}
    