<!--Herencia de Html-->
{% extends 'home/index.html' %}
<!--Herencia de Html-->
{% block title_pagina %}
<title>Ver Personas</title>
{% endblock title_pagina %}
{% block h1_texto_header %} <h1>Ver Personas</h1>{% endblock h1_texto_header %}
{% block index_contenido %}
    <a class="navbar-brand" href="{% url 'crear_persona' %}">Crear Personas</a>
    <p>Listado de Personas:</p>
    <form action={% url 'ver_personas' %} method="GET">
        {% csrf_token %}
        {{formulario}} 
        <button>Buscar</button>
    </form>
    <p>
        {% if personas %}
        {% for persona in personas  %}
        <li>{{persona.nombre}} {{persona.apellido}} Edad:{{persona.edad}}</li>
        {% endfor %}
        {% else %}
        <p>No se encontraron resultados</p>
        {% endif %}
        
    </p>
    

    
{% endblock index_contenido %}
    